body {
  text-align: center;
  background-color: black;
}

#background-image {
  width: 80%;
  height: 100%;
}

#selection-grid {
  position: absolute;
  top: 0;
  right: 28vw;
}

.grid-square {
  margin: 1vw;
  width: 10vw;
  height: 10vw;
  display: inline-block;
  border: transparent 1vw solid;
  cursor: pointer;
}

.grid-square:hover {
  background-image: url(../images/Target.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
